name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  Tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Job setup
        uses: ./.github/actions/job-setup

      - name: Start Supabase
        run: supabase start

      - name: Run Tests
        run: just test

      - name: Upload frontend coverage report to codecov.io
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          files: ./coverage/lcov.info
          disable_search: true
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  Lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Job setup
        uses: ./.github/actions/job-setup

      - name: Run Linters
        run: just lint
